@for (routePart of travelAdvice.route; track routePart; let index = $index) {
    <!-- If the previous step has equivelant stations. Then dont show this. -->
    @if (
        !(travelAdvice.route[index - 1] && travelAdvice.route[index - 1].arrivalStation === routePart.departureStation)
    ) {
        @if (routePart.cancelled) {
            &nbsp;<del style="color: red">{{ routePart.departureStation }}</del
            >&nbsp;
        } @else {
            {{ routePart.departureStation }}
        }
    }

    @if (routePart.plannedDepartureTrack) {
        @if (routePart.actualDepartureTrack && routePart.actualDepartureTrack != routePart.plannedDepartureTrack) {
            <del style="color: red">{{ routePart.plannedDepartureTrack }}</del
            >({{ routePart.actualDepartureTrack }})
        } @else {
            @if (routePart.cancelled) {
                <del style="color: red">{{ routePart.plannedDepartureTrack }}</del>
            } @else {
                {{ routePart.plannedDepartureTrack }}
            }
        }
    }
    @if (routePart.actualDeparture && routePart.actualDeparture != routePart.plannedDeparture) {
        <del style="color: red">{{ routePart.plannedDeparture | date: 'H:mm' }}</del
        >({{ routePart.actualDeparture | date: 'HH:mm' }})
    } @else {
        @if (!routePart.realisticTransfer) {
            <span style="color: orange">{{
                routePart.actualDeparture ?? routePart.plannedDeparture | date: 'HH:mm'
            }}</span>
        } @else {
            @if (routePart.cancelled) {
                <del style="color: red">{{
                    routePart.actualDeparture ?? routePart.plannedDeparture | date: 'HH:mm'
                }}</del>
            } @else {
                {{ routePart.actualDeparture ?? routePart.plannedDeparture | date: 'HH:mm' }}
            }
        }
    }

    @if (routePart.alternativeTransport) {
        <span
            style="color: brown"
            ngbTooltip="Dit stuk maakt gebruik van alternatief transport door {{ routePart.operator }}"
            >>{{ routePart.operator }} {{ routePart.type }} [{{ routePart.lineName }}]{{ routePart.direction }}></span
        >
    } @else if (routePart.type == 'Unknown') {
        <span
            style="color: brown"
            ngbTooltip="Een reis met onbekend transport [{{ routePart.lineName }}] ({{ routePart.type }}) richting {{
                routePart.direction ?? 'onbekend'
            }} door {{ routePart.operator }}"
            >>[{{ routePart.lineName }}]{{ routePart.direction }}></span
        >
    } @else {
        <span
            role="img"
            [attr.aria-label]="'Reis met' + routePart.type"
            ngbTooltip="Een reis met [{{ routePart.lineName }}] ({{ routePart.type }}) richting {{
                routePart.direction ?? 'onbekend'
            }} door {{ routePart.operator }}"
            >> {{ routePart.direction ?? routePart.lineName ?? 'Onbekend' }}🚆></span
        >
    }

    @if (routePart.actualArrival && routePart.actualArrival != routePart.plannedArrival) {
        <del style="color: red">{{ routePart.plannedArrival | date: 'HH:mm' }}</del>
        @if (!routePart.realisticTransfer) {
            <span style="color: orange">({{ routePart.actualArrival | date: 'HH:mm' }})</span>
        } @else {
            ({{ routePart.actualArrival | date: 'HH:mm' }})
        }
    } @else if (routePart.cancelled) {
        <del style="color: red">{{ routePart.actualArrival ?? routePart.plannedArrival | date: 'HH:mm' }}</del>
    } @else {
        @if (!routePart.realisticTransfer) {
            <span style="color: orange">{{ routePart.actualArrival ?? routePart.plannedArrival | date: 'HH:mm' }}</span>
        } @else {
            {{ routePart.actualArrival ?? routePart.plannedArrival | date: 'HH:mm' }}
        }
    }

    @if (routePart.cancelled) {
        &nbsp;<del style="color: red">{{ routePart.arrivalStation }}</del
        >&nbsp;
    } @else {
        @if (routePart.plannedArrivalTrack) {
            @if (routePart.actualArrivalTrack && routePart.actualArrivalTrack != routePart.plannedArrivalTrack) {
                <del style="color: red">{{ routePart.plannedArrivalTrack }}</del
                >({{ routePart.actualArrivalTrack }})
            } @else {
                {{ routePart.plannedArrivalTrack }}
            }
        }
        {{ routePart.arrivalStation }}
    }
}
