<div
    class="accordion"
    id="accordion{{index}}"
>
    <div class="accordion-item">
        <h2
            class="accordion-header"
            id="heading{{ index }}"
        >
            @if (!travelAdvice.realistic) {
                <div
                    class="alert alert-danger"
                    role="alert"
                >
                    {{ travelAdvice.source }} denkt dat er een onrealistische overstap is.
                </div>
            }

            <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                [attr.data-bs-target]="'#collapse' + index"
                aria-expanded="true"
                [attr.aria-controls]="'collapse' + index"
            >
            <bi name="pin" class="icon">Pin</bi>
            <bi name="pin-fill" class="icon">Pin</bi>

                <p>
                    <span
                        >{{ travelAdvice.plannedDurationInMinutes * 1000 * 60 | date: 'HH:mm' : '+0000' }}
                        @if (
                            travelAdvice.actualDurationInMinutes &&
                            travelAdvice.plannedDurationInMinutes != travelAdvice.actualDurationInMinutes
                        ) {
                            <span style="color: orange"
                                >({{
                                    travelAdvice.actualDurationInMinutes * 1000 * 60 | date: 'HH:mm' : '+0000'
                                }})</span
                            >
                        }
                    </span>
                    <app-travel-advice-route [travelAdvice]="travelAdvice"></app-travel-advice-route>
                </p>
            </button>
        </h2>
        <div
            id="collapse{{ index }}"
            class="accordion-collapse " collapse
            aria-labelledby="index"
            [attr.data-bs-parent]="'#collapse' + index"
        >
            <div class="accordion-body">
                <app-travel-advice-expanded [travelAdvice]="travelAdvice"></app-travel-advice-expanded>
            </div>
        </div>
    </div>
</div>
