<p>
    Reisduur:
    <span
        >{{ travelAdvice.plannedDurationInMinutes * 1000 * 60 | date: 'HH:mm' : '+0000' }}
        @if (
            travelAdvice.actualDurationInMinutes &&
            travelAdvice.plannedDurationInMinutes != travelAdvice.actualDurationInMinutes
        ) {
            <span class="minor-info-change"
                >({{ travelAdvice.actualDurationInMinutes * 1000 * 60 | date: 'HH:mm' : '+0000' }})</span
            >
        }
    </span>
</p>
<div class="container">
    @for (routePart of travelAdvice.route; track routePart; let index = $index) {
        <div
            class="row align-items-start"
            [class]="routePart.cancelled == true ? 'cancelled' : 'normal'"
        >
            @if (routePart.cancelled) {
                <p>Rijdt niet</p>
            }
            <p>
                Een reis met {{ routePart.lineName }} ({{ routePart.type }}) richting
                {{ routePart.direction ?? 'onbekend' }}.
            </p>
            <div class="col-12">
                <div class="row">
                    <div class="col-2 text-right">
                        <app-time-selection
                            [actual]="routePart.actualDeparture"
                            [planned]="routePart.plannedDeparture"
                            [cancelled]="routePart.cancelled"
                        ></app-time-selection>
                    </div>
                    <div class="col-6">
                        <p class="fw-bold">
                            {{ routePart.departureStation }}
                        </p>
                    </div>

                    <div class="col-4">
                        <app-track-selection
                            [plannedTrack]="routePart.plannedDepartureTrack"
                            [actualTrack]="routePart.actualDepartureTrack"
                            [cancelled]="routePart.cancelled"
                        ></app-track-selection>
                    </div>
                    <div
                        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center border-bottom"
                    ></div>
                    @for (stop of routePart.stops; track stop; let stopIndex = $index) {
                        @if (stopIndex > 0 && stopIndex + 1 < routePart.stops.length) {
                            <div class="col-2 text-right stop">
                                <app-time-selection
                                    class="smaller-text"
                                    [actual]="stop.actualDeparture"
                                    [planned]="stop.plannedDeparture"
                                    [cancelled]="false"
                                ></app-time-selection>
                            </div>

                            <div class="col-6">
                                <p class="smaller-text">
                                    {{ stop.name }}
                                </p>
                            </div>
                            <div class="col-4">
                                <app-track-selection
                                    class="smaller-text"
                                    [plannedTrack]="stop.plannedDepartureTrack"
                                    [actualTrack]="stop.actualDepartureTrack"
                                    [cancelled]="false"
                                ></app-track-selection>
                            </div>
                        }
                    }
                    <div
                        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center border-bottom"
                    ></div>
                </div>
            </div>
            <div class="col-12">
                <div class="row align-items-start">
                    <div class="col-2">
                        <app-time-selection
                            [actual]="routePart.actualArrival"
                            [planned]="routePart.plannedArrival"
                            [cancelled]="routePart.cancelled"
                        ></app-time-selection>
                    </div>
                    <div class="col-6">
                        <p class="fw-bold">{{ routePart.arrivalStation }}</p>
                    </div>
                    <div class="col-4">
                        <app-track-selection
                            [plannedTrack]="routePart.plannedArrivalTrack"
                            [actualTrack]="routePart.actualArrivalTrack"
                            [cancelled]="routePart.cancelled"
                        ></app-track-selection>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center border-bottom"></div>
    }
</div>

<div
    class="leaflet"
    leaflet
    [leafletOptions]="options"
    [leafletLayers]="layers"
    [leafletLayersControl]="layersControl"
    (leafletMapReady)="onMapReady($event)"
></div>
<p class="smaller-text">
    Bron:
    <img
        class="img-fluid logo"
        alt="{{ travelAdvice.source }}"
        src="assets/logos/{{ travelAdvice.source }}.svg"
    />
</p>
