<div class="col-12 overflow-auto">
    @if (loading) {
        <div>
            <app-loading></app-loading>
            <p>Loading feed data...</p>
        </div>
    }
    <div [hidden]="!dataSource">
        <table
            mat-table
            [dataSource]="dataSource"
            matSort
            class="mat-elevation-z8"
        >
            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    sortActionDescription="Sort by name"
                >
                    Name
                </th>
                <td
                    mat-cell
                    *matCellDef="let element"
                >
                    <a routerLink="/feed/{{ element.name }}">{{ element.name }}</a>
                </td>
            </ng-container>
            <ng-container matColumnDef="realTime">
                <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                sortActionDescription="Sort by live"
                >
                    Real time only
                </th>
                <td
                    mat-cell
                    *matCellDef="let element"
                >
                    @if (element.realTime) {
                        <a
                            [routerLink]="['/feed', element.name]"
                            [queryParams]="{ realtime: true }"
                            >Live only</a
                        >
                    }
                    @else {
                        <span>No live data</span>
                    }
                </td>
            </ng-container>
            <ng-container matColumnDef="downloadPending">
                <th
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    sortActionDescription="Sort by downloadPending"
                >
                    Queued for import?
                </th>
                <td
                    mat-cell
                    *matCellDef="let element"
                >
                    @if (element.downloadPending) {
                        <span style="color: blue">Yes</span>
                    } @else {
                        <span style="color: green">No</span>
                    }
                </td>
            </ng-container>
            <ng-container matColumnDef="interval">
                <th
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    sortActionDescription="Sort by interval"
                >
                    Interval
                </th>
                <td
                    mat-cell
                    *matCellDef="let element"
                >
                    {{ element.interval }}
                </td>
            </ng-container>

            <ng-container matColumnDef="lastChecked">
                <th
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    sortActionDescription="Sort by lastChecked"
                >
                    Last checked
                </th>
                <td
                    mat-cell
                    *matCellDef="let element"
                >
                    {{ element.lastChecked | date: 'EEEE, MMMM d, y, HH:mm' }}
                </td>
            </ng-container>

            <ng-container matColumnDef="state">
                <th
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    sortActionDescription="Sort by state"
                >
                    State
                </th>
                <td
                    mat-cell
                    *matCellDef="let element"
                >
                    <b>{{ element.state }}</b>
                </td>
              </ng-container>
            <ng-container matColumnDef="lastImportStart">
                <th
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    sortActionDescription="Sort by lastImportStart"
                >
                    Import started at
                </th>
                <td
                    mat-cell
                    *matCellDef="let element"
                >
                    {{ element.lastImportStart | date: 'EEEE, MMMM d, y, HH:mm' }}
                </td>
              </ng-container>
            <ng-container matColumnDef="lastImportSuccess">
                <th
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    sortActionDescription="Sort by lastImportSuccess"
                >
                    Import succeeded at
                </th>
                <td
                    mat-cell
                    *matCellDef="let element"
                >
                    {{ element.lastImportSuccess | date: 'EEEE, MMMM d, y, HH:mm' }}
                </td>
              </ng-container>
            <ng-container matColumnDef="lastImportFailure">
                <th
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    sortActionDescription="Sort by lastImportFailure"
                >
                    Last import failure
                </th>
                <td
                    mat-cell
                    *matCellDef="let element"
                >
                    {{ element.lastImportFailure | date: 'EEEE, MMMM d, y, HH:mm' }}
                </td>          
              </ng-container>

            <ng-container matColumnDef="lastCheckFailure">
                <th
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    sortActionDescription="Sort by lastCheckFailure"
                >
                    Last failed check
                </th>
                <td
                    mat-cell
                    *matCellDef="let element"
                >
                    {{ element.lastCheckFailure | date: 'EEEE, MMMM d, y, HH:mm' }}
                </td>
            </ng-container>
            <ng-container matColumnDef="agencies">
                <th
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    sortActionDescription="Sort by agencies"
                >
                    Agencies
                </th>
                <td
                    mat-cell
                    *matCellDef="let element"
                >
                    <a routerLink="/agencies/{{ element.name }}">{{ element.agencies }}</a>
                </td>
            </ng-container>
            <ng-container matColumnDef="routes">
                <th
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    sortActionDescription="Sort by routes"
                >
                    Routes
                </th>
                <td
                    mat-cell
                    *matCellDef="let element"
                >
                    {{ element.routes }}
                </td>
            </ng-container>
            <ng-container matColumnDef="stops">
                <th
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    sortActionDescription="Sort by stops"
                >
                    Stops
                </th>
                <td
                    mat-cell
                    *matCellDef="let element"
                >
                    {{ element.stops }}
                </td>
            </ng-container>
            <ng-container matColumnDef="alerts">
                <th
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    sortActionDescription="Sort by alerts"
                >
                    Alerts
                </th>
                <td
                    mat-cell
                    *matCellDef="let element"
                >
                    {{ element.alerts }}
                </td>
            </ng-container>
            <ng-container matColumnDef="vehicles">
                <th
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    sortActionDescription="Sort by vehicles"
                >
                    Vehicles
                </th>
                <td
                    mat-cell
                    *matCellDef="let element"
                >
                    {{ element.vehicles }}
                </td>
            </ng-container>
            <ng-container matColumnDef="trips">
                <th
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    sortActionDescription="Sort by trips"
                >
                    Trips
                </th>
                <td
                    mat-cell
                    *matCellDef="let element"
                >
                    {{ element.trips }}
                </td>
            </ng-container>
            <tr
                mat-header-row
                *matHeaderRowDef="displayedColumns"
            ></tr>
            <tr
                mat-row
                *matRowDef="let row; columns: displayedColumns"
            ></tr>
        </table>
    </div>
</div>
