<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-6 col-12">
                <p>
                    <span style="font-size: 2em;"><a routerLink="/">komikaan.nl</a></span>
                    <small class="rainbow rainbow_text_animated">VERY ALPHA</small>
                </p>
            </div>
            <div class="col-md-7 col-sm-6 col-12">
                <p>
                    <small>Geen zorgen, je ziet er geweldig uit.</small> <br />
                    <small>In tegenstelling tot je reis met de trein.</small>
                </p>
            </div>
        </div>
    </div>
</header>
<router-outlet />
