<div class="container-fluid grid">
    <div class="col-12">
        <h1>Showing data for feed {{ selectedFeed }}</h1>
        <p>Stops: {{ stops?.length }}</p>
        <p>Routes: {{ routes?.length }}</p>
    </div>
    <div class="col-12">
        <div
            (window:resize)="onResize($event)"
            class="leaflet stop-map-view"
            leaflet
            [leafletOptions]="options"
            [leafletLayers]="layers"
            [leafletLayersControl]="layersControl"
            (leafletMapReady)="onMapReady($event)">
        </div>
    </div>
    <div class="col-12">

        <table class="table table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Short name</th>
                    <th scope="col">Long name</th>
                    <th scope="col">Type</th>
                    <th scope="col">Agency</th>
                    <th scope="col">Description</th>
                    <th scope="col">Url</th>
                </tr>
            </thead>
            <tbody>
                @for (route of routes; track route; let index = $index) {
                    <tr>
                        <th scope="row">{{ route.shortName }}</th>
                        <td>{{ route.longName }}</td>
                        <td>{{ route.type }}</td>
                        <td>{{ route.agency }}</td>
                        <td>{{ route.description }}</td>
                        <td>{{ route.url }}</td>
                    </tr>
                } @empty {
                    <p>No feeds loaded to display!</p>
                }
            </tbody>
        </table>
    </div>
</div>
