<form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Vanaf" aria-label="Search"
        (input)="onSearchInputChangeOrigin($event)">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>

<div>
    <ul>
        @for (stop of foundStopsOrigin; track stop) {
        <button class="dropdown-item" (click)="selectStopOrigin(stop)">{{ stop }}</button>
        } @empty {
        No relevant stops found
        }
    </ul>
</div>

<form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Naar" aria-label="Search"
        (input)="onSearchInputChange($event)">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
<div>
    <ul>
        @for (stop of foundStops; track stop) {
        <button class="dropdown-item" (click)="selectStopDestination(stop)">{{ stop }}</button>
        } @empty {
        No relevant stops found
        }
    </ul>
</div>
@if(!possibility){
<div>
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

} @else {
<div>
    {{possibility}}
</div>
}