.stopbox{
    background-color: white;
    color: black;
    &:hover {
        background-color: gray;
        color: white;
    }

}

a {
    text-decoration: none;
}

.leaflet{
    height: 100VH;
    width: 100%;
    max-width: 100%;
}