.stopbox{
    background-color: white;
    color: black;
    &:hover {
        background-color: gray;
        color: white;
    }

}

a {
    text-decoration: none;
    color: black;
}

.leaflet{
    height: 90VH;
}