<div class="container-fluid grid">
    <div class="row">
        <div class="col-lg-6 col-12">
            <h1>
                Showing data for trip towards <span class="fst-italic">{{ trip?.headsign }}</span>
            </h1>
            <button
                class="btn btn-primary"
                (click)="refreshData()"
            >
                <span class="glyphicon glyphicon-refresh"></span> Refresh
            </button>

            <h2>Trip: {{ trip?.shortname }}</h2>
            <h3>{{ trip?.routeShortName }} - {{ trip?.routeLongName }}</h3>
            <small>Data origin: {{ trip?.dataOrigin }}</small> <br />
            <small>Service: {{ trip?.serviceId }}</small> <br />
            <small>State: {{ trip?.currentStatus }}</small> <br />
            <small>Congestion: {{ trip?.congestionLevel }}</small> <br />
            <small>Enroute to: {{ trip?.enrouteTo }}</small> <br />
            @if (realTime) {
                <p>
                    Realtime:
                    <span
                        class="font-weight-bold"
                        style="color: green"
                        >YES ❤️</span
                    >
                    <br />
                    <small>Measured at: {{ trip?.measurementTime }}</small>
                </p>
            } @else if (realTime == false) {
                <!-- <p>Realtime: <span class="font-weight-bold" style="color: red">NO (or not yet!) 💔</span></p> -->
            } @else {
                <p>Realtime? no clue.</p>
            }
            <h1>Stops</h1>
            @if (loading) {
                <div>
                    <div
                        class="spinner-border"
                        role="status"
                    >
                        🚉
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <p>Loading trips data...</p>
                </div>
            }
            @for (tripStop of trip?.stops; track tripStop; let index = $index) {
                <!-- @if (
                    trip!.stops![index - 1] != null &&
                    convertToDate(tripStop.actualArrivalTime.toString()).getDay() !==
                        convertToDate(trip!.stops![index - 1].actualArrivalTime.toString()).getDay()
                ) {
                    <hr class="bg-danger border-2 border-top border-warning" />

                    <p>The next day!</p>
                } -->

                <div
                    class="row align-items-start stopbox"
                    [class]="tripStop.cancelled == true ? 'cancelled' : 'normal'"
                >
                    @if (tripStop.cancelled) {
                        <p>Rijdt niet</p>
                    }
                    <div class="col-12">
                        <div class="row">
                            <a
                                class="col-10 row"
                                routerLink="/stops/{{ tripStop.id }}/{{ tripStop.stopType }}"
                            >
                                <div class="col-3 text-right">
                                    @if (
                                        tripStop.actualArrivalTime != tripStop.plannedArrivalTime ||
                                        tripStop.plannedDepartureTime != tripStop.actualDepartureTime ||
                                        tripStop.plannedArrivalTime != tripStop.plannedDepartureTime ||
                                        tripStop.actualArrivalTime == tripStop.actualDepartureTime
                                    ) {
                                        <app-time-only-selection
                                            [actual]="tripStop.actualArrivalTime"
                                            [planned]="tripStop.plannedArrivalTime"
                                            [cancelled]="tripStop.cancelled"
                                        ></app-time-only-selection>
                                        <br />
                                        <br />
                                    }
                                    <span class="fw-bold"></span>
                                    <app-time-only-selection
                                        [actual]="tripStop.actualDepartureTime"
                                        [planned]="tripStop.plannedDepartureTime"
                                        [cancelled]="tripStop.cancelled"
                                        [scheduleRelationship]="tripStop.scheduleRelationship"
                                    ></app-time-only-selection>
                                </div>
                                <div class="col-7">
                                    <p class="fw-bold">
                                        {{ tripStop.name }}
                                        @if (tripStop.stopHeadsign && tripStop.stopHeadsign != trip?.headsign) {
                                            <br />
                                            <span class="fw-normal">
                                                Headsign on this stop will be
                                                <span class="fst-italic">{{ tripStop.stopHeadsign }}</span>
                                            </span>
                                        }
                                    </p>
                                </div>

                                <div class="col-1">
                                    <app-track-selection
                                        [plannedTrack]="tripStop.plannedPlatform"
                                        [actualTrack]="tripStop.actualPlatform"
                                        [cancelled]="tripStop.cancelled"
                                    ></app-track-selection>
                                </div>
                            </a>
                            <div class="col-1">
                                <button
                                    type="button"
                                    class="btn"
                                    cdkCopyToClipboard="{{ tripStop.name }}"
                                    value="click to copy"
                                >
                                    Copy
                                </button>
                            </div>
                            <div
                                class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center border-bottom"
                            ></div>
                        </div>
                    </div>
                </div>
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center border-bottom"
                ></div>
            } @empty {
                <p>No known stops</p>
            }
        </div>
        <div class="col-lg-6 col-12">
            <div
                (window:resize)="onResize($event)"
                class="leaflet"
                leaflet
                [leafletOptions]="options"
                [leafletLayers]="layers"
                [leafletLayersControl]="layersControl"
                (leafletMapReady)="onMapReady($event)"
            ></div>
        </div>
    </div>
</div>
