/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

@import 'leaflet/dist/leaflet.css';

@import 'leaflet.markercluster/dist/MarkerCluster.Default.css';
@import 'leaflet.markercluster/dist/MarkerCluster.css';

@import 'bootstrap-icons/font/bootstrap-icons.min.css';

.cancellation {
    color: red;
    text-decoration: line-through;
}

.major-info-change {
    color: red;
    text-decoration: line-through;
}

.minor-info-change {
    color: orange;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
