.departurebox {
    background-color: white;
    color: black;
    &:hover {
        background-color: gray;
        color: white;
    }
}

a {
    text-decoration: none;
}

.route-box {
    max-height: 15vh;
}

.stop-map-view {
    height: 20vh;
}
