<div class="container-fluid grid">
    @if (loading) {
        <div class="col-12">
            <h1>Loading data for stop {{ this.selectedStop }}</h1>
            <app-loading></app-loading>
            <p>Loading stop related data...</p>
        </div>
    } @else {
        <div class="row">
            <div class="col-6">
                <h1>Showing data for stop {{ stop?.name }}</h1>
                <h2>Stop type: {{ stop?.stopType }}</h2>

                <p>Description: {{ stop?.description }}</p>
                <p>Zone: {{ stop?.zone }}</p>
                <p>
                    This stop consists of <b>{{ stop?.mergedStops?.length ?? 'an unknown amount of ' }}</b> merged
                    stops.
                </p>
                <p>
                    <small
                        >Internal mumbo jumbo: {{ selectedStop }} - {{ stop?.dataOrigin }} -
                        {{ stop?.parentStation }}</small
                    >
                    <br />
                    <small>Last updated: {{ stop?.lastUpdated }}</small>
                </p>
                @if (stop?.relatedStops) {
                    <h2>Related stops:</h2>
                    @for (relatedStop of stop?.relatedStops; track relatedStop; let index = $index) {
                        <div>
                            <a routerLink="/stops/{{ relatedStop.id }}/{{ relatedStop.stopType }}"
                                ><p>Related stop: {{ relatedStop?.name }}</p>
                            </a>
                            <p>Stop type: {{ relatedStop?.stopType }}</p>
                        </div>
                    } @empty {
                        <p>No related stops</p>
                    }
                }
            </div>
            <div class="col-6">
                <h1>Showing data for stop {{ stop?.name }}</h1>
                @if (stop?.mergedStops) {
                    <h2>Merged stops:</h2>
                    <div class="col-12 overflow-auto route-box">
                        <p>
                            @for (mergedStop of stop?.mergedStops; track mergedStop; let index = $index) {
                                {{ mergedStop?.name }}<br />
                            }
                        </p>
                    </div>
                    <div
                        (window:resize)="onResize($event)"
                        class="leaflet stop-map-view"
                        leaflet
                        [leafletOptions]="options"
                        [leafletLayers]="layers"
                        [leafletLayersControl]="layersControl"
                        (leafletMapReady)="onMapReady($event)"
                    ></div>
                }
            </div>
        </div>
        <div class="col-12 overflow-auto route-box">
            <h1>{{ stop?.routes?.length ?? '0' }} routes on this stop</h1>

            @for (route of stop?.routes; track route; let index = $index) {
                <app-route [route]="route"></app-route>
            }
        </div>
        <div class="col-12">
            <h1>Stops</h1>
            @if (error) {
                <app-error [httpErrorResponse]="error"></app-error>
            }
            @for (tripStop of stop?.departures; track tripStop; let index = $index) {
                <!-- @if (tripStop.scheduleRelationship != 'SKIPPED') {
                @if (
                    index == 0 ||
                    (stop!.departures[index - 1] != null &&
                        tripStop.actualArrivalTime != null &&
                        convertToDate(tripStop.actualArrivalTime.toString()).getDay() !==
                            convertToDate(stop!.departures![index - 1].actualArrivalTime.toString()).getDay())
                ) {
                    <hr class="bg-danger border-2 border-top border-warning" />
                    @if (tripStop.actualArrivalTime || tripStop.plannedDepartureTime) {
                        <p>
                            {{
                                convertToDate((tripStop.actualArrivalTime ?? tripStop.plannedDepartureTime).toString())
                                    | date: 'yyyy-MM-dd'
                            }}
                        </p>
                    } @else {
                        <p>Something went really wrong and no times are available</p>
                    }
                }
            } @else {
                <h1 style="color: red">SKIPPED</h1>
            } -->

                <a routerLink="/trip/{{ tripStop.tripId }}">
                    <div
                        class="row align-items-start departurebox"
                        [class]="tripStop.cancelled == true ? 'cancelled' : 'normal'"
                    >
                        @if (tripStop.cancelled) {
                            <p>Rijdt niet</p>
                        }
                        <div class="col-12">
                            <div class="row">
                                <div class="col-2 text-right">
                                    @if (
                                        tripStop.actualArrivalTime != tripStop.plannedArrivalTime ||
                                        tripStop.plannedDepartureTime != tripStop.actualDepartureTime ||
                                        tripStop.plannedArrivalTime != tripStop.plannedDepartureTime ||
                                        tripStop.actualArrivalTime == tripStop.actualDepartureTime
                                    ) {
                                        <app-time-only-selection
                                            [actual]="tripStop.actualArrivalTime"
                                            [planned]="tripStop.plannedArrivalTime"
                                            [cancelled]="tripStop.cancelled"
                                        ></app-time-only-selection>
                                        <br />
                                    }
                                    <span class="fw-bold">
                                        <app-time-only-selection
                                            [actual]="tripStop.actualDepartureTime"
                                            [planned]="tripStop.plannedDepartureTime"
                                            [cancelled]="tripStop.cancelled"
                                            [scheduleRelationship]="tripStop.scheduleRelationship"
                                        ></app-time-only-selection
                                    ></span>
                                    @if (tripStop.realTime) {
                                        <p>
                                            Realtime:
                                            <span
                                                class="font-weight-bold"
                                                style="color: green"
                                                >YES ❤️</span
                                            >
                                        </p>
                                    }
                                </div>
                                <div class="col-6">
                                    <p class="fw-bold">
                                        <span
                                            [style]="
                                                'max-height: 50vw; min-width:50vw; background-color: #' +
                                                tripStop.routeColor +
                                                '; color: #' +
                                                tripStop.routeTextColor
                                            "
                                        >
                                            <span>[{{ tripStop.routeShortName }}]</span>
                                            {{
                                                tripStop.headsign ??
                                                    tripStop.stopHeadsign ??
                                                    tripStop.routeLongName ??
                                                    'Unknown route'
                                            }}</span
                                        >
                                    </p>
                                    @if (
                                        tripStop.stopHeadsign &&
                                        tripStop.stopHeadsign != '' &&
                                        tripStop.stopHeadsign != tripStop.headsign &&
                                        tripStop.headsign
                                    ) {
                                        <p>
                                            Headsign on this stop will be
                                            <span class="fst-italic">[{{ tripStop.stopHeadsign }}]</span>
                                        </p>
                                    }
                                    <small
                                        >{{ tripStop.routeShortName }} - {{ tripStop.operator }} -
                                        {{ tripStop.routeLongName }}
                                        {{ tripStop.routeDesc }}
                                    </small>
                                </div>

                                <div class="col-4">
                                    <app-track-selection
                                        [plannedTrack]="tripStop.plannedPlatform"
                                        [actualTrack]="tripStop.actualPlatform"
                                        [cancelled]="tripStop.cancelled"
                                    ></app-track-selection>
                                </div>
                                <div
                                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center border-bottom"
                                >
                                    <!-- <small>Datasource: {{ tripStop.dataOrigin }} / {{tripStop.tripId}}</small> -->
                                </div>
                            </div>
                        </div>
                    </div></a
                >
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center border-bottom"
                ></div>
            } @empty {
                <p>No known departures</p>
            }
        </div>
    }
</div>
